file code
{
  "name": "Stock Analysis Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -720,
        -64
      ],
      "id": "c37352b7-a569-41f5-9630-86fbea23afd7",
      "name": "When chat message received",
      "webhookId": "5496ebca-d542-4157-b25f-db7f3a2ad7f1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional stock market analyst. Analyze the stock ticker symbol: {{ $json.chatInput }}\n\nProvide a concise analysis in the following format:\n\n**Stock: [TICKER SYMBOL]**\n**Current Context:** [Brief 1-2 sentence market context]\n\n**Technical Analysis:**\n- Price trend (bullish/bearish/sideways)\n- Key support and resistance levels\n- Moving average signals\n- Volume analysis\n\n**Fundamental Highlights:**\n- Recent earnings/revenue trends\n- Key financial metrics (P/E, debt ratios)\n- Industry position and competitive advantages\n- Recent news impact\n\n**Recommendation:**\n- **Action:** BUY / HOLD / SELL\n- **Confidence Level:** High/Medium/Low\n- **Price Target:** [If applicable]\n- **Stop Loss:** [If applicable]\n- **Time Horizon:** Short-term (1-3 months) / Medium-term (3-12 months)\n\n**Key Risks:**\n- [List 2-3 main risks to watch]\n\n**Rationale:**\n[2-3 sentences explaining the recommendation]\n\nKeep the analysis under 300 words total. Focus on actionable insights for retail investors.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -432,
        -64
      ],
      "id": "15f32cc1-cff3-4142-b213-9c3d47e26ecc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -528,
        128
      ],
      "id": "71aff724-e137-44c6-95ac-39387297604c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yyOf1JP5SzOwfVVk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shobhit219@gmail.com",
        "subject": "=Stock Analysis Of {{ $('When chat message received').item.json.chatInput }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -112,
        -48
      ],
      "id": "0670e991-7480-4226-8acd-67111eb1aa71",
      "name": "Send a message",
      "webhookId": "15668488-5b7a-454a-8c06-e7a4a525e7c1",
      "credentials": {
        "gmailOAuth2": {
          "id": "OVyTM7aTOsgpgfHU",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e84704fd-5d10-4c8a-a79b-86b12c21f663",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f1fa7e7feabe9652a37b8000a68209c74c67697fd4f87cd04ba02eace49124f"
  },
  "id": "aAB2FtQyoNAkgKLd",
  "tags": []
}
